/* GENERAL */
 /* -------------------------------------------- */
* {
  font-family: sans-serif;
}

body, html {
  background-color: gray;
}

body {
  display: flex;
  margin: 0px;
}

/* -------------------------------------------- */
/* SIDEBAR */
 /* -------------------------------------------- */
aside {
  width: 20%;
  margin: none;
}

header {
  text-align: center;
  margin: 10px 10px 80px 10px;
  background-color: black;
  color: white;
  padding: 15px;
}

h1 {
  font-size: 2.5em;
}

h1, 
h2 {
  margin: 0;
}

h3 {
  text-align: center;
  /* margin: 4px; */
}

nav {
  display: flex;
  flex-direction: column;
  align-items: end;
}

button {
  cursor:pointer;
}

nav > button {
  border: none;
  margin-bottom: 20px;
  background-color: gray;
  width: 65%;
  text-align: center;
  border-radius: 10px 0px 0px 10px;
  padding: 20px;
}

.active-nav {
  background-color: white;
}

/* -------------------------------------------- */
/* MAIN */
 /* -------------------------------------------- */
main {
  padding: 10px;
  width: 80%;
  background-color: white;
}

form {
  display: flex;
}

#merchants-view {
  background-color: lightblue;
  display: flex;             
  padding: 5px; 
  flex-direction: row; 
  flex-wrap: wrap; 
  gap: 20px;
  align-content: center;  
}

.item {
  display: flex;
  background-color: lightgray;
  margin: 10px;
  padding: 5px;
  width: 30%;
  flex-direction: column;
  justify-content: center;
}

.merchant {
  display: flex;
  background-color: teal;
  width: 23%;
  flex-wrap: wrap; 
  gap: 20px; 
  border-radius: 5px;
  align-items: center;
  align-content: justify;
  text-align: center;
  padding: 10px;
}
  .merchant-view-items-button {
  padding: 5px;
  margin-top: auto;
  margin-right: 10px;
  align-self: center;
}

.merchant-name {
  padding: 0px, 5px, 0px, 5px;
}

.display-options {
  display: flex;
  align-items: center;
}

.display-options > button {
  margin-left: 15px;
}

.merchant-name-in-item {
  display: inline;
}

.success {
  color: green;
}

.fail {
  color: red;
}
 /* -------------------------------------------- */
 /* -------------------------------------------- */
/* HIDDEN ELEMENTS */
.hidden {
  display: none;
} 
