/* GENERAL */
 /* -------------------------------------------- */
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', sans-serif;
}

/* BODY STYLES */
body {
  display: flex;
  min-height: 100vh;
  background-color: #f4f4f9;
  color: #333;
}

/* -------------------------------------------- */
/* SIDEBAR */
 /* -------------------------------------------- */
 aside {
  width: 250px;
  background-color: #111;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
 }

header {
  text-align: center;
  margin: 10px 10px 80px 10px;
  background-color: black;
  color: white;
  padding: 15px;
}

h1 {
  font-size: 2.5em;
}

h1, 
h2 {
  margin: 0;
}

h3 {
  text-align: center;
  /* margin: 4px; */
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

button {
  cursor:pointer;
  border-radius: 5px;
}

nav > button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: left;
  width: 100%;
}

nav > button:hover {
  background-color: #0056b3;
}

.active-nav {
    background-color: #007bff;
}

/* -------------------------------------------- */
/* MAIN */
 /* -------------------------------------------- */
 main {
  flex-grow: 1;
  background-color: #fff;
  padding: 40px;
}

.display-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.add-new-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-new-button:hover {
  background-color: #0056b3;
}

/* FORMS */
form input,
form button {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}


/* VIEWS */
#merchants-view,
#items-view,
#single-merchant-view {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.view .card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  width: 30%;
  text-align: center;
}

.merchant {
  display: flex;
  background-color: teal;
  width: 23%;
  flex-wrap: wrap; 
  gap: 20px; 
  border-radius: 5px;
  align-items: center;
  align-content: justify;
  text-align: center;
  padding: 10px;
}

.merchant-view-items-button {
  padding: 5px;
  margin-top: auto;
  margin-right: 10px;
  align-self: center;
}

.merchant-name {
  padding: 0px, 5px, 0px, 5px;
}

.display-options > button {
  margin-left: 15px;
}

.merchant-name-in-item {
  display: inline;
}

.success {
  color: green;
}

.fail {
  color: red;
}
 /* -------------------------------------------- */
 /* -------------------------------------------- */
/* HIDDEN ELEMENTS */
.hidden {
  display: none;
} 
